.container {
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container .validKeys {
  font-size: 8rem;
  font-weight: 600;
  min-width: 600px;
  border-bottom: solid 2px #fff;
}

.container .validKeys .matched {
  background-color: #fdf8c5;
  color: #282c34;
}

.container .validKeys .unmatched {
  opacity: 0.5;
}

.container .typedKeys {
  margin-top: 20px;
  font-size: 1.3rem;
  width: 600px;
  overflow: hidden;
}

.container .completedWords {
  width: max-content;
  height: 100vh;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  right: 0;
  text-align: left;
  padding: 20px 40px;
  font-size: 1.8rem;
  line-height: 2.5rem;
  opacity: 0.5;
}
